# Project exclude paths
/Payment-Consumer-9002/target/
/Payment-Provider-9001/target/
/Payment-Provider-9003/target/
/General-Server-1118/target/
/.idea/vcs.xml
/.idea/
/apilogs/
/Gateway-Server-1111/target/
/User-Server-1120/target/
