<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alandevise.dao.StudentMapper">

    <insert id="insert">
        insert into student (`name`, age, addr, addr_num)
        values (#{student.name}, #{student.age}, #{student.addr}, #{student.addrNum})
    </insert>

    <insert id="insertSplice">
        insert into student (`name`, age, addr, addr_num) values
        <foreach collection="studentList" item="item" separator=",">
            (#{item.name}, #{item.age}, #{item.addr}, #{item.addrNum})
        </foreach>
    </insert>

    <insert id="create" parameterType="com.alandevise.entity.User">
        insert into user_test (name, balance, password)
        values (#{user.name}, #{user.balance}, #{user.password})
    </insert>

    <insert id="insertSql">
        ${sql}
    </insert>

    <insert id="insertSql2">
        insert into ${tableName2} (${columns})
        values (${val})
    </insert>

    <insert id="insertSql3">
        insert into student (`name`, age, addr, addr_num)
        values (${SQL.val})
    </insert>

    <select id="selectUser" resultType="com.alandevise.entity.User">
        select id, `name`, balance, password, create_time, update_time
        from user_test
        where id = #{id}
    </select>

    <select id="selectInfo" resultType="com.alandevise.entity.TFAccrue" resultSetType="FORWARD_ONLY" fetchSize="1">
        select *
        from t_fert_accrue;
    </select>

    <insert id="insertDirectly">
        ${sqlString}
    </insert>

    <insert id="insertTFAccrue">
        insert into t_fert_accrue
        (`tag_code`,
         `tag_no`,
         `tag_name`,
         `name`,
         `tag_type`,
         `tag_class`,
         `preci`,
         `unit`,
         `compute`,
         `device_code`,
         `coefficient`,
         `radix`,
         `max_range`,
         `min_range`,
         `filter_mutational`,
         `mutational_pe`,
         `save_type`,
         `save_cyc`,
         `dead_value`,
         `count`,
         `show_model`,
         `sort`,
         `fert_property`,
         `details`,
         `point_type`,
         `formula`,
         `fert_code`)
        values (#{TFAccrue.tagCode}, #{TFAccrue.tagNo}, #{TFAccrue.tagName}, #{TFAccrue.name}, #{TFAccrue.tagType},
                #{TFAccrue.tagClass},
                #{TFAccrue.preci}, #{TFAccrue.unit}, #{TFAccrue.compute}, #{TFAccrue.deviceCode},
                #{TFAccrue.coefficient}, #{TFAccrue.radix},
                #{TFAccrue.maxRange}, #{TFAccrue.minRange}, #{TFAccrue.filterMutational}, #{TFAccrue.mutationalPe},
                #{TFAccrue.saveType},
                #{TFAccrue.saveCyc}, #{TFAccrue.deadValue}, #{TFAccrue.count}, #{TFAccrue.showModel}, #{TFAccrue.sort},
                #{TFAccrue.fertProperty},
                #{TFAccrue.details}, #{TFAccrue.pointType}, #{TFAccrue.formula}, #{TFAccrue.fertCode})
    </insert>

    <insert id="insertId">
        insert into t_id
        values (#{id})
    </insert>

    <insert id="batchInsertUser">
        insert into t_user(username,age) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.username},
            #{item.age}
            )
        </foreach>
    </insert>

    <insert id="insertUser">
        insert into t_user(username, age)
        values (#{username},
                #{age})
    </insert>

</mapper>
