<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alandevise.dao.StudentMapper">

    <insert id="insert">
        insert into student (`name`, age, addr, addr_num)
        values (#{student.name}, #{student.age}, #{student.addr}, #{student.addrNum})
    </insert>
    
    <insert id="insertSplice">
        insert into student (`name`, age, addr, addr_num) values
        <foreach collection="studentList" item="item" separator=",">
            (#{item.name}, #{item.age}, #{item.addr}, #{item.addrNum})
        </foreach>
    </insert>

    <insert id="create" parameterType="com.alandevise.entity.User">
        insert into user_test (name, balance, password)
        values (#{user.name}, #{user.balance}, #{user.password})
    </insert>

    <insert id="insertSql">
        ${sql}
    </insert>

    <insert id="insertSql2">
        insert into ${tableName2} (${columns})
        values (${val})
    </insert>

    <insert id="insertSql3">
        insert into student (`name`, age, addr, addr_num)
        values (${SQL.val})
    </insert>

    <select id="selectUser" resultType="com.alandevise.entity.User">
        select id, `name`, balance, password, create_time, update_time
        from user_test
        where id = #{id}
    </select>

</mapper>
